/.gradle/
/build/
/eclipse/
/bin
/.settings/
.project
.classpath
/repo/
/run/
/logs/
/crash-reports/
/saves/
/config/
README.txt
LICENSE-fml.txt
MinecraftForge*
*.iml
*.ipr
*.iws
usernamecache.json
options.txt
forge-*-changelog.txt
CREDITS-fml.txt
/screenshots/